.notification {
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 6000;

  @media screen and (min-width: 350px) and (max-width: 650px) {
    display: none;
  }
}

.notification-text {
  position: relative;
  font-size: 15px;
  margin: 0 0 10px;
  width: 225px;
  color: #fff;
  background-color: #22282b;
  min-height: 45px;
  border-radius: 4px;
  text-align: right;
  padding-top: 11px;
  padding-right: 15px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 15px;
    background: url('../../img/success.svg') no-repeat center/cover;
    width: 14px;
    height: 14px;
  }
}

.notice-status-connect {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  color: var(--text-main-color);
  text-align: center;
  background: var(--main-background-color);
  border-top: 1px solid var(--status-offline-border-color);
  z-index: 1000;
  animation: noticaStatucConnect 350ms ease-in;

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #f25466;
  }
}

@keyframes noticaStatucConnect {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}