.app-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.app-logo-text {
  font-family: 'Candara', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #0797E8;
  white-space: nowrap;

  span {
    color: #0f73e4;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 28px;
    letter-spacing: -2px;
  }
}

.app-logo-pic {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../img/logo.svg') no-repeat center/contain;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 34px;
    height: 34px;
  }
}