.unlogged-btn {
  position: relative;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  border-width: 0;
  border-radius: 36px;
  text-decoration: none;
  padding: 16px 8px;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  outline: none;
  margin-top: 15px;
}

.unlogged-btn:enabled {
  background: #ff2f56;
  cursor: pointer;
}

.unlogged-btn:disabled {
  background-color: #b7b7b7;
  color: #fff;
  cursor: default;
}

.unlogged-btn-wide {
  min-width: 300px;
}

.unlogged-btn:enabled.unlogged-btn:hover {
  background: lighten(#ff2f56, 10%);
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .unlogged-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}
