.user-action {
  position: relative;

  @media screen and (max-width: 850px) and (min-width: 320px) {
    position: static;
  }
}

.user-action-profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.15s;
  overflow: hidden;

  &:hover {
    opacity: 0.55;
  }
}

.input-file {
  display: none!important;
}

.sekeletonbox-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--skeleton-background);
  animation: skeletionPulse ease-in-out 2s .2s infinite;
}

.dropdown-enter {
  opacity: 0;
  transform: translateY(100px);

  @media screen and (min-width:320px) and (max-width: 650px) {
		transform: translateY(100px);
  }
  
  @media screen and (min-width:651px) {
		transform: translateY(12px);
	}
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.2);
}
.dropdown-exit {
  opacity: 1;
}
.dropdown-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 350ms, transform 350ms;
  transition-timing-function: cubic-bezier(0.66, -.41, 1, 1);

  @media screen and (min-width:320px) and (max-width: 650px) {
		transform: translateY(100px);
  }
  
  @media screen and (min-width:651px) {
		transform: translateY(12px);
	}
}