@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* basic
   ===================================== */

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.52947;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  direction: ltr;
  color: #323232;
  background-color: #fff;
  height: 100%;
  margin: 0;
}

#root {
  overflow-x: hidden;
  height: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), url('./fonts/SFProDisplayRegular.woff') format('woff'), url('./fonts/SFProDisplayRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), url('./fonts/SFProDisplaySemibold.woff') format('woff'), url('./fonts/SFProDisplaySemibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}